.header {
  padding: 5px;
  text-align: left;
  background: #cc0000;
  color: white;
  font-size: 20px;
  text-shadow: 3px 2px black;
  font-family: "Lucida Console", Monaco, monospace;
}


p {
 font-size: 20px;
 font-family: Verdana, Geneva, sans-serif;
}

h2 {
 font-family: Verdana, Geneva, sans-serif;
}

h3 {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 15px;
}

a {
 font-family: Tahoma, Geneva, sans-serif;
 font-size: 25px;
 padding: 20px;
 font-weight: bold;
}

#logo {
  max-width: 10%;
  height: auto;
}
